body {
    background-color: #eed8d3;
}

h1 {
    font-size: 200px;
    color: deeppink;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}